body {
    background-color: rgb(34, 34, 34);
    color: white;
    font-family: poppinsregular;
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#title {
    flex-direction: column;
    line-height: 15px;
}

li {
    display: inline-block;
    margin: 30px; /* Increase margin for larger screens */
}

a {
    color: white;
}

a:hover {
    color: rgb(132, 14, 201);
    transition: 0.3s all;
}

#inscreva-se-btn {
    border: 3px solid rgb(132, 14, 201); /* Increase border thickness */
    padding: 15px; /* Increase padding */
    border-radius: 20px; /* Increase border radius */
}

#inscreva-se-btn:hover {
    background-color: rgb(132, 14, 201);
    color: white;
}

h1 {
    font-weight: 200;
    text-align: center;
    font-size: 36px; /* Increase font size */
}

main {
    display: flex;
    flex-direction: row;
    margin-top: 100px; /* Increase margin top */
}

h2 {
    font-size: 40px; /* Increase font size */
    line-height: 15px;
    font-family: poppinsmedium;
    justify-content: center;
    text-align: center;
}

span {
    color: rgb(132, 14, 201);
    font-size: 40px;

}

p {
    font-family: poppinslight;
    text-align: center;
    padding: 20px; /* Increase padding */
    margin: 0;
    border: 3px solid rgb(132, 14, 201);
    border-radius: 15px; /* Adjust border radius */
    box-sizing: border-box;
    max-width: 1000px; /* Increase maximum width */
    margin: 0 auto;
}

img {
    width: 800px; /* Increase image width */
}

form {
    display: flex;
    flex-direction: column;
    width: 80%; /* Increase form width */
}

form [type="submit"] {
    height: 60px; /* Increase button height */
    width: 60%; /* Increase button width */
    background-color: rgb(132, 14, 201);
    color: white;
    font-weight: bold;
}

form [type="submit"]:hover {
    cursor: pointer;
}

input {
    margin-top: 30px; /* Increase margin top */
    height: 30px; /* Increase input height */
    padding: 20px; /* Increase padding */
    border-radius: 30px; /* Increase border radius */
    border: none;
    font-size: 20px; /* Increase font size */
}
